.tools-btn {
    background-color: hsl(264, 100%, 72%);

    &:hover {
        background-color: hsl(264, 100%, 67%);
    }

    &:active {
        background-color: hsl(264, 100%, 62%) !important;
        border-color: hsl(264, 100%, 62%) !important;
    }
}

.tools {
    transition: opacity 0.3s ease-in-out;

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    > button {
        color: hsl(210, 17%, 88%);
        background-color: #3a3b47;
        /* transition: opacity 0.3s ease-in-out; */

        .current {
            color: hsl(210, 17%, 98%);
        }

        &:hover {
            color: hsl(210, 17%, 83%);
            background-color: hsl(235, 10%, 20%);
        }

        &:active {
            color: hsl(210, 17%, 78%) !important;
            background-color: hsl(235, 10%, 17%) !important;
            border-color: hsl(235, 10%, 17%) !important;
        }

        > i {
            transition: color 0.3s ease-in-out;

            &.show {
                color: hsl(210, 17%, 98%);
            }

            &.hide {
                opacity: hsl(210, 17%, 88%);
            }
        }
    }
}

.btn.show {
    background-color: hsl(264, 100%, 62%) !important;
    border-color: hsl(264, 100%, 62%) !important
}