:root {
    --bg-color-primary: #262731;
    --color-primary: #A86FFF;
    --border-color: #3A3B47;
    --bg-color-hover: #C09AFF;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Rubik";
    background-color: #262731;
    /* background-color: hsl(210, 11%, 15%) */
    /* overflow-y: hidden; */
}

.temp-bg { /* TEMP */
    background-color: #262731;
}

.section-note { /* TEMP */
    background-color: #262731;

    &:hover {
        background-color: #3c3d4eff;
    }
}

/* Media Queries */

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}