html, body {
    height: 100%;
    margin: 0;
    font-family: "Rubik";
    background-color: hsl(210, 11%, 15%)
    /* overflow-y: hidden; */
}

/* Media Queries */

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}